.wrapper {
    width: 1200px;
    margin: 0 auto;
    // background-color: teal; // Delete
    height: 500px; // Delete
}

.background {
	background-image: url('/src/img/Layer-15.png');
    width: 500px;
    height: 1000px;
}