.wrappper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


/* MASTHEAD /START/ */

.masthead {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 30px;
}

.logo {
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logo:hover {
    color: var(--underlining-color);
    transition: all 200ms linear;
}

nav {
    display: flex;
    flex-basis: 490px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 490px;
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover {
    color: var(--underlining-color);
    border-bottom: 4px solid var(--underlining-color);
    padding-bottom: 12px;
    transition: all 200ms linear;
}


/* MASTHEAD /END/ */


/* SECTION /START/ */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
}

.section span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--second-color);
    margin-bottom: 22px;
}

.section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--second-color);
}

.section h2::after {
    content: "";
    display: block;
    border-bottom: 3px solid var(--underlining-color);
    padding-top: 43px;
    width: 60px;
    margin: 0 auto;
}

.wrap-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 65px;
}

.article-container {
    display: flex;
    flex-basis: 335px;
    flex-direction: column;
    position: relative;
    margin-bottom: 93px;
}

.article-container h4 {
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--second-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.article-container p {
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
}

.article-container img {
    position: absolute;
    top: 0;
    left: 0;
}


/* SECTION /END/ */


/* SECTION-TEAM /START/ */

.section-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 85px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.section-team span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--second-color);
}

.section-team h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--second-color);
    margin-top: 22px;
}

.section-team h2::after {
    content: "";
    display: block;
    border-bottom: 3px solid var(--underlining-color);
    padding-top: 43px;
    width: 60px;
    margin: 0 auto;
}

.section-team p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 96px;
}

.wrap-section-team {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-basis: 380px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.img-wrap {
    margin-bottom: 30px;
}

.img-wrap::after {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, #fce38a, #f38181);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 471px;
    opacity: 0;
}

.img-wrap:hover:after {
    opacity: 0.7;
}

.card-transform-icons {
    display: flex;
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
}

.card-transform-icon {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-right: 1px solid #f9bd87;
    cursor: pointer;
}

.card-transform-icon:last-child {
    border: none;
}


/* HOVER /START/ */

.img-wrap:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px var(--main-color);
    transition: all 200ms linear;
}

.img-wrap:hover > .card-transform-icons {
    opacity: 1;
}

.card-transform-icon:hover {
    background-color: var(--main-color);
    transition: all 200ms linear;
}


/* HOVER /END/ */

.card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--second-color);
    margin-bottom: 16px;
}

.card-description span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #999999;
}


/* SECTION-TEAM /END/ */


/* FOOTER /START/ */

.wrap-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.copy {
    display: flex;
}

.copy-item {
    margin-right: 5px;
    color: var(--second-color);
}

.copy-item a:last-child {
    color: var(--underlining-color);
    text-decoration: none;
}

.copy-item:last-child {
    margin-right: 0;
}

.form {
    display: flex;
    margin-bottom: 12px;
}

.form input:first-child {
    color: #cccccc;
    width: 229px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 15px;
}

.form input:last-child {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 15px 33px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}


/* HOVER */

.form input:last-child:hover {
    background-color: var(--underlining-color);
    border: 1px solid var(--underlining-color);
    transition: all 200ms linear;
}


/* FOOTER /END/ */