// ------project vars

// Color

$brand-color: #f38181;
$menu-color: #fce38a;
$icon-color: #95e1d3;
$deco-color: #333333;
$list-text-color: #999999;

// Fonts

$main-font: 'Montserrat',
sans-serif;
$deco-font: 'Kaushan Script',
cursive;
$list-text-font: 'Roboto',
sans-serif;






